<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/supbnmain.jpg">
    <!-- Breadcrumb content here if needed -->
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Danh mục</h4>
                        <ul>
                            <% for (let category of categories) { %>
                                <li>
                                    <a href="#">
                                        <%= category.name %>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <!-- Price filter content here if needed -->
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Hàng bán chạy</h4>
                            <div class="latest-product__slider owl-carousel">
                                <% for (let product of products) { %>
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/img/<%= product.imageURL %>" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>
                                                    <%= product.name %>
                                                </h6>
                                                <span>
                                                    <%= product.price %> vnd
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sản phẩm</h2>
                    </div>
                </div>
                <div class="filter__item">
                    <!-- Filter content here if needed -->
                </div>
                <div class="row">
                    <% for (let product of products) { %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/<%= product.imageURL %>">
                                    <ul class="product__item__pic__hover">
                                        <!-- Hover icon here if needed -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>
                                        <a href="./shop-details?id=<%= product.id %>">
                                            <%= product.name %>
                                        </a>
                                    </h6>
                                    <h5>
                                        <%= product.price %> vnd
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <div class="product__pagination">
                    <!-- Pagination content here if needed -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->